<!doctype HTML>
<head>
    <style>
        body {
            font-family: 'Helvetica', 'Arial', sans-serif;
        }
    </style>
</head>
<html>
<head><title>Favorite Movie Form</title></head>
<body>
<form action="/enter_movie" enctype="application/x-www-form-urlencoded" method="POST">
    <p>What is your favorite movie?</p>
    <p>
        <input type="text" name="title" value=""/>title
    </p>
    <p>
        <input type="text" name="year" value=""/>year
    </p>
    <p>
        <input type="text" name="imdb" value=""/>imdb
        <input type="submit" value="Submit"/>
</form>
</body>
</html>
